<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta assumenda minima dolorem repellendus omnis
            unde quam consectetur similique repellat corporis?</p>
    </div>
</section>