<div class="jumbotron mt-4">
    <h1 class="display-4">Node app Node JS and Mongodb</h1>

    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi commodi ullam tempora consectetur
        delectus necessitatibus?</p>

    <hr class="my-4">

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus qui pariatur enim repudiandae fuga inventore
        accusamus cumque quaerat cum rem.</p>

    <a href="http://www.pablocoronel.com.ar" class="btn btn-primary">Pablo</a>
</div>